@model RezerwacjaPOLLibrary.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Zarejestruj się teraz za darmo!";
}
<link href="~/css/user_register_style.css" rel="stylesheet" />
<script src="~/js/user_register.js"></script>

<div class="bodyLike jumbotron">

    <div class="box">
        @* Background image jest do zmiany - To jest testowe! *@
        <form asp-action="Index" enctype="multipart/form-data">
            <span class="text-center">Zarejestruj się za darmo!</span>
            <div class="input-container">
                <input asp-for="FirstName" />
                <label asp-for="FirstName">Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="input-container">
                <input asp-for="LastName" />
                <label asp-for="LastName">Second Name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="input-container">
                <input asp-for="Email" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-container">
                <input type="password" asp-for="Password" />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input type="file" asp-for="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <button type="submit" class="myButton">Register</button>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
