@model RezerwacjaPOLLibrary.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Zarejestruj się teraz za darmo!";
}
<link href="~/css/user_register_style.css" rel="stylesheet" />
<script src="~/js/user_register.js"></script>
<link href="~/css/ValidationStyling.css" rel="stylesheet" />
<div class="bodyLike jumbotron">

    <div class="box">
        @* Background image jest do zmiany - To jest testowe! *@
        <form asp-action="Index" enctype="multipart/form-data">
            <span class="text-center">Zarejestruj się za darmo!</span>



            <div class="input-container" style="width:100%;">
                <input asp-for="FirstName" placeholder="Jak masz na imię?" />
                <label asp-for="FirstName">Imię</label>
                <div class="validationLogin">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="input-container">
                <input asp-for="LastName" placeholder="Jak masz na nazwisko?" />
                <label asp-for="LastName">Nazwisko</label>
                <div class="validationLogin">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="input-container">
                <input asp-for="Email" placeholder="Podaj nam swój adres e-mail" />
                <label asp-for="Email">Email</label>
                <div class="validationLogin">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="input-container">
                <input type="password" asp-for="Password" placeholder="Podaj hasło" />
                <label asp-for="Password">Hasło</label>
                <div class="validationLogin">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>

                <div class="form-group dropDiv" style="margin:0 !important;">
                    <input type="file" asp-for="Avatar" id="drop-zone" class="form-control custom-file-input dropInput" placeholder="Wybierz lub przeciągnij" />
                    <label class="custom-file-label">Wybierz lub przeciągnij</label>
                </div>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div id="howMany"></div>



            <button type="submit" class="myButton">Zarejestruj się!</button>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/dragAndDropCount.js"></script>

}
