@model RezerwacjaPOL.Models.LoginViewModel

@{
    ViewData["Title"] = "Zaloguj się";
}
<link href="~/css/user_register_style.css" rel="stylesheet" />
<script src="~/js/user_register.js"></script>
<link href="~/css/ValidationStyling.css" rel="stylesheet" />


<div class="bodyLike jumbotron">
    <div class="box">
        <form asp-action="Index" enctype="multipart/form-data">
            <span class="text-center" style="min-width:250px;">Zaloguj się!</span>

            <div class="input-container" style="width:100%;">
                <input asp-for="Email" placeholder="Wpisz adres e-mail" />
                <label asp-for="Email">Email</label>
                <div class="validationLogin">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="input-container">
                <input type="password" asp-for="Password" placeholder="Wpisz hasło" />
                <label asp-for="Password">Hasło</label>
                <div class="validationLogin">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="myButton">Zaloguj się</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
