a.ListTitle {
    color: black;
}

a:hover.ListTitle {
    color: white;
    background-color: black;
}

a:link.ListTitle {
    text-decoration: none;
}

p.categoryStyle {
    text-align: right;
    margin-right: 20px;
    color: darkslategray;
}

p.dateStyle {
    color: gray;
    text-align: right;
    margin: 20px;
    margin-top: 70px
}

img.ThumbnailStyle {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
