@model Nest.ISearchResponse<SearchEngineModel>
    <link href="~/css/CustomStyle.css" rel="stylesheet" />
    <div class="text-center">
        <h1 class="display-4">Witaj na Pan Book!</h1>
        <p>Doświadczeni specjaliści w twojej okolicy!</p>
        <div class="search">

            <form asp-controller="SearchAuction" asp-action="Index" method="post"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#opinions"
                  data-ajax-sukcess="clear"
                  id="form">

                <input type="text" placeholder="Wyszukaj interesującą Cie usługę" name="query" class="searchQuery" />
                <input type="image" src="~/sic.png" value="Search" class="searchSubmit" style="width:20px;height:20px"/>

            </form>
        </div>
    </div>
    <h3>@ViewData["blad"]</h3>
    @{
        var du = ViewData["auctions"] as AuctionListViewModel;
    }
    <div id="opinions">
        @*<partial name="_AuctionListingPartial" model="@ViewData["auctions"] as IEnumerable<AuctionViewModel>" />*@
        @await Html.PartialAsync("_AuctionListingPartial", du)
    </div>

    @section Scripts{
        <script src="~/lib/jquery/jquery.unobtrusive-ajax.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            function clear() {
                $("form").get(0).reset();
            }
        </script>
    }
