@model IEnumerable<RezerwacjaPOL.Models.AuctionViewModel>;

<link href="~/css/auctionListing.css" rel="stylesheet" />

<div class="container">
@foreach (var item in Model)
{
    @*<table class="table table-sm">
        <tbody>
            <tr style="background-color:white; border-radius: 50%; border-color:white;">
                <td style="width: 216px; height: 152px; margin:20px; padding:1em;">
                    <a href="">
                       <img class="ThumbnailStyle" src="~/Files/@item.ThumbnailPhotoDir" />
                    </a>
                </td>
                <td style="margin: 20px">

                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 500px; font-weight: 100; text-align:left;">
                        <a class="ListTitle" asp-action="Index" asp-controller="AuctionDisplay" asp-route-id="@item.Id">
                            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                        </a>
                    </h4>
                </td>
                <td>
                    @{
                        string onlyTime = "Dzisiaj " + item.DateAdded.TimeOfDay.ToString().Substring(0, 5);
                        string onlyDate = item.DateAdded.ToString().Substring(0, 10);
                    }
                    <p class="categoryStyle">@Html.DisplayFor(modelItem => item.Category.Name)</p>
                    <p class="dateStyle">
                        @if (item.DateAdded.Date == DateTime.Today)
                        {
                            @onlyTime
                        }
                        else
                        {
                            @onlyDate
                        }
                    </p>
                </td>
            </tr>
        </tbody>
    </table>*@


}
</div>
